.return-home-button {
  position: absolute;
  top: 80px;
  left: 20px;

  display: flex;
  align-items: center;

  padding: 10px 18px 10px 10px;
  background-color: transparent;
  color: white;

  border: 1px solid white;
  border-radius: 40px;

  cursor: pointer;
  z-index: 10;

  transition: 0.5s ease background-color;
  &:hover {
    border-color: #73cb3e;
    background-color: #73cb3e;
  }
}

@media only screen and (max-width: 1100px) {
  .return-home-link {
    text-decoration: none;
  }

  .return-home-button {
    position: relative;
    top: 0;
    left: 0;
    margin: 10px 20px;
    z-index: 1;
  }

  .movie-info--container {
    padding: 20px;
  }
}
