.movie-details--container {
  padding: 150px 20px 20px;
  display: flex;
  gap: 10px;

  /* reset the CSS margins and fix rendering issues */
  * {
    z-index: 1;
    margin: 0;
  }
}

.movie-details {
  width: 350px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  img {
    width: 100%;
    max-width: 150px;
  }

  .movie-info td:first-child {
    width: 120px;
    color: #8d8d8d;
  }
}

.return-home-button {
  position: absolute;
  top: 80px;
  left: 20px;

  display: flex;
  align-items: center;

  padding: 10px 18px 10px 10px;
  background-color: transparent;
  color: white;

  border: 1px solid white;
  border-radius: 40px;

  cursor: pointer;
  z-index: 10;

  transition: 0.5s ease;
  &:hover {
    border-color: #73cb3e;
    background-color: #73cb3e;
  }
}

.react-player-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;

  .movie-trailer-name {
    font-weight: bold;
    position: absolute;
    top: -25px;
  }
}
