.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  gap: 20px;

  background-color: transparent;

  @media (width < 1100px) {
    position: relative;
    flex-direction: column;

    .search-bar {
      flex: 1;
      width: 100%;
    }
  }
}
