.movie {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.movie--poster {
  position: relative;
  cursor: pointer;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .movie--overlay {
    opacity: 0;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100%;
    width: 100%;

    transition: 0.5s ease;
    background: linear-gradient(rgb(0, 0, 0, 0), #73cb3e);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover .movie--overlay {
    opacity: 1;
  }

  box-icon[name="play-circle"] {
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.movie--rating {
  color: #8d8d8d;
}

.movie--title {
  min-height: 40px;
  font-size: 1.2rem;
}

.movie--rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* CSS below is for movie rating container */
.circle--container {
  display: flex;
  gap: 5px;
}
