.react-player-container {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.carousel-root {
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 320px) {
  .react-player-container {
    width: 100%;
  }
}
